:root {
    --detail-container-width: 800px;
    --detail-container-height: 400px;
    --black-alpha7: rgba(0, 0, 0, 0.7);
    /*--book-image-width: 200px;*/
    /*--book-image-height: 300px*/
}

.book-modal-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.book-modal-container-disable {
    display: none;
}

.book-details-container {
    display: flex;
    flex-direction: row;
    width: var(--detail-container-width);
    height: var(--detail-container-height);
    background-color: white;
    cursor: auto;
}

.thumbnail-container {
    display: flex;
    flex: 5;
}

.details-container {
    display: flex;
    flex-direction: column;
    flex: 10;
}

.thumbnail-style {
    width: 100%;
    height: 100%;
}

.title-container {
    display: flex;
    flex: 2;
    width: 100%;
    flex-direction: row;
}

#title-text {
    display: flex;
    flex: 8;
    justify-content: center;
    align-items: center;
    color: #659157;
}

#close-modal-icon {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #E05263;
}

.book-description-container {
    display: flex;
    flex: 9;
    flex-direction: column;
    padding: 15px;
}

#book-description-text {
    color: var(--black-alpha7);
}

#subtitle-text {
    color: var(--black-alpha7);
}

.button-container {
    display: flex;
    flex: 2;
    flex-direction: row;
    padding: 15px;
}

.download-book-button-container {
  padding: 5px;
}

.read-book-button-container {
  padding: 5px;
}
