:root {
    --header-height: 100px;
    --body-width: 1000px;
    --black-alpha7: rgba(0, 0, 0, 0.7);
    --black-alpha6: rgba(0, 0, 0, 0.6);
    --short-description-color: #749D63
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
}

header {
    top: 0;
    /*height: var(--header-height);*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-body {
    display: flex;
    flex-direction: column;
    width: var(--body-width);
}

.app-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app-name-text {
    color: var(--black-alpha7);
}

#short-description-text {
    color: var(--short-description-color);
}

.category-title-container {
    width: var(--body-width);
    border-bottom: 1px solid #69A2B0;
    margin-top: 30px;
    padding-bottom: 5px;
}

.category-title-container span {
    color: var(--black-alpha7);
}

.category-content {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: var(--body-width);
    flex-wrap: wrap;
}

.spinner-style {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #69A2B0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.spinner-main-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}